@media (orientation: portrait) {
    .backdrop-flip {
      display: block !important;
    }
    body {
        pointer-events: none; 
        user-select: none; 
        touch-action: none; 
      }
}
